html{
  height: 100%;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-image: url("bergen-gågate.jpg");
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f5f7;
  background-size: cover;
  margin:0;
  padding:0;
}

.header{
    background: #f0ead6;
    margin:0;
    padding:0;
    position: fixed;
    opacity: 0.9;
    width: 100%
}

.headerNav {
  text-align:center;
}

nav ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}

nav li {
  font-size:20px;
  list-style: none;
  display: inline-block;
  size: cover;
  padding: 20px 30px;
  cursor: pointer;
  text-transform: uppercase;
}


@media only screen and (max-width: 620px){
  body {
    font-size: 10px;
  }
  nav li {
    font-size: 12px;
  }
}

nav ul li:hover{
  background: #f9f4f8;
}

nav a {
  color: black;
  display:block;
  float: left;
  text-decoration: none;
}

.innhold{
  padding: 80px 30px 0px 35px;

}
